<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/output.css">
</head>

<body class="">
    <header class=" bg-green-200 h-24 flex items-center justify-between p-3">
        <a href="/" class="font-bold text-4xl text-lime-700">DigitaX</a>
        <form action="/api/tweet" method="post" class="flex gap-2">
            <input placeholder="Post" type="text" class="rounded-md pl-3 bg-green-100 border border-green-700">
            <button class="bg-lime-700 p-2 font-semibold text-green-200 rounded-md">Search</button>
        </form>
    </header>


    <section class=" h-view ">

        <div class="flex justify-center bg-green-100 py-4">
            <form class="flex flex-col items-center gap-2" action='/api/tweet' method="post">
                <div>
                    <textarea name='text' class="rounded-md pl-3 bg-green-100 border border-green-700"
                        placeholder="post your message" name="" id="" cols="30" rows="2"></textarea>

                </div>

                <div class="flex flex-col justify-center gap-2 ">

                    <input placeholder="Name" name="name" class="rounded-md pl-3 bg-green-100 border border-green-700"
                        type="text">


                </div>
                <button type="submit"
                    class="bg-lime-700 p-2 font-semibold text-green-200 rounded-md w-28">Public</button>
            </form>
        </div>
        </div>
        <section class="flex flex-col items-center gap-3 p-5 bg-green-300 h-full">
            <% posts.forEach(post=> { %>
                <div class="bg-green-100 p-5 rounded-md flex flex-col w-64">
                    <div>
                        <p>
                            <%= post.text %>
                        </p>
                        <p>
                            <%= post.name %>
                        </p>
                        <p>
                            <%= post.date %>
                        </p>
                        <div class="flex justify-between p-2">
                            <a href='edit/<%= post.id %>' id="edit-btn">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>

                            </a>
                            <button id="del-Btn">
                                <input value='delete/<%=post.id%>' type="text" class="hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <% }); %>
        </section>

    </section>
    <script>
        const $ = (id) => document.getElementById(id)
        const edit = $('edit-btn')
        const del = $('del-Btn')
        del.addEventListener('click', async (e) => {
            const url = e.target.value
            console.log(url);
            await axios.delete(url)

        })
    </script>
</body>

</html>